.center{
    text-align: center;
}

.container{
    text-align: center;
}

.bg-red{
    background:black;
}

.demo{
    padding:10px ;
    margin: 10px;
    border: 20px 10px;
    border-radius: 30px Solid green;
}

.flex
{

} 

.flex-col
{

} 

.items-center
{

} 

.mx-auton
{

}

 .m-w-20
 {

 }